// Main Color List - try not to use
$color__black: #282828;
$color__white: #ffffff;
$color__white--dark: #fafafa;
$color__grey: #acacac;
$color__grey--dark: #414141;
$color__blue: #334c89;
$color__green: #909d31;

// Global
$color__background: $color__white--dark;
$color__text: $color__black;
$color__text--opp: $color__white;
$color__cta: $color__blue;
$color__border: $color__grey;
$color__progress: $color__green;
